* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    flex-direction: column;
    /*coluna vertical*/

    justify-content: center;
    /* justificar eixo pincipal*/
    align-items: center;
    /*just. eixo secundario*/
    background-color: rgb(54, 158, 161);
    width: 100%;
    /*largura*/
    min-height: 100vh;
    /*minimo altura*/
}

div {
    border: 5px solid rgb(253, 253, 253);
    gap: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    /*espaço entre os elementos*/
    background-color: rgb(204, 0, 255);
    width: 50%;
    height: 90%;

}

button {

    color: rgb(255, 255, 255);
    /*cor do texo*/
    background-color: rgb(20, 20, 168);
    /*cor do fundo*/
    border: 2px solid rgb(255, 255, 255);
    /*tamanho cor*/
    border-radius: 10px;
    padding: 5px;
    margin-top: 3%;
}

img {
    border: 2px solid rgb(245, 245, 248);
    border-radius: 10px;
    width: 100%;
    height: auto; /*tamanho da imagem*/
    /*objeto fit- couve ( ajuste da imagem)*/
}

h1 {
    color: white;
}